.wrapper {
  width: 100%;
  height: 100%;
  display: flex;

  .canvas {
    position: relative;
    flex-grow: 1;
    background: white;

    .canvasInner {
      width: 100%;
      height: 100%;
      background: gray;
      transform-origin: top left;
    }

    .editBackdrop {
      position: fixed;
      display: none;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10000;

      &.openBackdrop {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.5);
        color: white;
      }
    }
  }

  .editBtn {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 30px;

    &.activeBtn {
      background: lightgreen;
    }

    &.defaultBtn {
      background: rosybrown;
    }
  }
}


